/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  scroll-behavior: smooth;
}

header nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 999;
}

header nav button {
  border: none;
  height: 0px;
  background-color: white;
}

#nav-icon2 {
  width: 4px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  margin-left: 10px;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 11px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 24px;
}

#nav-icon2.open span:nth-child(1), #nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2), #nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 0px;
  top: 19px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 19px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

#nav-icon2.open span:nth-child(5) {
  left: 0px;
  top: 16px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 16px;
}

#menu-mobile-white {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: none;
  position: absolute;
}

header nav #logo-chanel {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  margin-left: 18%;
  font-weight: bold;
  font-size: 21px;
}

header nav #logos {
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header nav #logos i {
  color: white;
}

header nav #logos .fa-star {
  display: none;
}

#main-menu {
  display: none;
}

#menu-mobile-white ul {
  LIST-STYLE-TYPE: none;
  text-align: left;
  margin-top: 80px;
  padding: 0px;
}

#menu-mobile-white ul li {
  margin-left: 40px;
}

#menu-mobile-white ul hr {
  width: 100%;
}

#menu-mobile-white ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

#menu-mobile-white #list-menu-two li a {
  font-weight: lighter;
  margin-bottom
}

#menu-mobile-white #list-menu-two li {
  margin-bottom: 20px;
}

#filtre-fifteen {
  display: none;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 46px;
  height: 46px;
  align-items: center;
  box-shadow: ;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
}

#section-camelia {
  background-color: black;
  color: white;
  height: 80vh;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;
  position: relative;
}

#section-camelia nav {
  display: none;
}

#section-camelia p {
  margin: 3% 13%;
}

#section-camelia h2 {
  margin: 0px;
  padding-top: 50px;
}

#section-camelia figure {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 0;
}

#section-camelia figure #img-mobile {
  width: 100%;
  height: 90%;
}

#section-camelia figure #img-desktop {
  display: none;
}

#nav-icon2 .span-black {
  background: black;
}

#products {
  margin: auto;
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
}

#products figure {
  margin: 2% auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#products figure figcaption {
  text-align: center;
  display: block;
  font-family: 'futura-pt', sans-serif;
  font-weight: 200;
  font-size: .85714286rem;
  line-height: 1rem;
}

#products figure img {
  width: 40%;
  border-radius: 100%;
  margin: auto;
  padding: 3px;
  transition: .5s;
}

#products figure img:hover {
  border: 2px solid gray;
  transition: .5s;
}

#filters-desktop {
  display: none;
}

#filters button {
  border: 1px solid black;
  background-color: transparent;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  height: 32px;
  align-items: center;
}

#filters button i {
  width: 10%;
}

#filters button span {
  width: 100%;
}

#filters p span {
  color: black;
}

#filters p {
  color: grey;
  text-align: center;
  margin: 10% 0% 4% 0%;
}

#results-request {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#results-request a {
  color: grey;
  text-transform: uppercase;
  font-size: 12px;
  margin-left: 10px;
}

#results-request div {
  margin-right: 10px;
  width: 18%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#products-results-from-request {
  margin-top: 5%;
}

#products-results-from-request figure {
  width: 90%;
  margin: 0px auto 30px auto;
}

#products-results-from-request figure img {
  width: 100%;
}

#products-results-from-request figure figcaption {
  background-color: #f4f2f3;
  text-align: center;
  color: black;
}

#products-results-from-request figure figcaption .title {
  color: black;
  display: block;
  font-family: 'abchanel-pb-m', Arial, Helvetica, sans-serif;
  padding: .57142857rem 1.42857143rem;
  font-size: .92857143rem;
}

#products-results-from-request figure figcaption .description {
  display: block;
  height: 3.21428571rem;
  padding: 0 1.42857143rem;
  margin-bottom: 1rem;
  line-height: 1.07142857rem;
  font-size: 11px;
}

#products-results-from-request figure figcaption .price {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

#products-results-from-request figure figcaption .price span {
  margin: auto;
}

#products-results-from-request figure figcaption .price i {
  margin-right: 10px;
}

#products-results-from-request figure figcaption .title:hover {
  color: #666;
}

#products-results-from-request p, #products-results-from-request p a {
  text-align: center;
  color: #666;
  font-size: 11px;
}

hr {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

#find-out figure {
  margin: 0px;
  width: 100%;
  height: auto;
}

#find-out figure figcaption {
  text-align: center;
  font-weight: bolder;
  padding: 10px 0px;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  height: 70px;
}

#find-out figure figcaption span {
  font-weight: lighter !important;
  margin-bottom: 20px;
}

#find-out figure figcaption a {
  text-decoration: none;
  color: white;
  background-color: black;
  width: 128px;
  margin: auto;
  margin-bottom: auto;
  padding: 10px 26px;
  font-weight: lighter;
  font-size: 11px;
}

#find-out figure img {
  width: 100%;
}

#goup {
  display: flex;
  justify-content: center;
  padding: 13% 0%;
}

#goup a {
  color: gray;
  border: 1px solid gray;
  padding: 11px 15px;
  border-radius: 100% 100%;
}

footer div ul {
  list-style-type: none;
  text-align: center;
  padding: 0px;
}

footer #info ul li {
  font-weight: bold;
  padding-bottom: 14px;
  cursor: pointer;
}

footer #info ul div {
  display: none;
}

footer #footer-classic {
  background-color: black;
  color: white;
}

footer #footer-classic ul {
  margin-bottom: 0px;
  padding: 30px 0px;
}

footer #footer-classic ul li {
  font-size: 11px;
  margin-bottom: 14px;
}

@media (min-width:992px) {
  #filtre-fifteen {
    display: none;
  }
  #nav-icon2 {
    display: none;
  }
  header nav {
    flex-wrap: wrap;
  }
  #main-menu {
    display: flex;
    margin: auto;
  }
  #main-menu ul {
    list-style-type: none;
    width: 100%;
    margin: auto;
    display: flex;
    padding: 0px;
    padding: 0px 56px;
  }
  #main-menu ul a {
    color: rgb(118, 118, 118);
    text-decoration: none;
    padding: 5px 30px;
  }
  #main-menu ul li #joaillerie {
    color: white;
  }
  header nav #logo-chanel {
    margin: auto;
    font-size: 30px;
    padding: 20px 0px 20px 84px;
    justify-content: center;
    width: 80%;
  }
  header nav #logos {
    padding-right: 30px;
  }
  header nav #logos .fa-star {
    display: flex;
  }
  #img-mobile {
    display: none;
  }
  #section-camelia {
    height: 90vh;
  }
  #section-camelia nav {
    display: block;
    position: absolute;
    left: 0px;
    top: 189px;
    z-index: 99;
  }
  #section-camelia nav ul {
    display: flex;
    list-style-type: none;
  }
  #section-camelia nav ul li a {
    text-decoration: none;
    color: #767676;
    font-size: 10px;
    padding: 0px 5px;
  }
  #section-camelia figure #img-desktop {
    display: flex;
    width: 100%;
    height: 100%;
  }
  #products {
    padding: 60px 88px;
  }
  #products figure {
    width: 15%;
  }
  #products-results-from-request {
    display: flex;
    flex-wrap: wrap;
    padding: 0% 7.5%;
  }
  #products-results-from-request figure {
    width: 45%;
  }
  #products-results-from-request p {
    width: 100%;
  }
  #find-out figure {
    position: relative;
    width: 80%;
    margin: auto;
  }

  #filters {
    display: none;
  }

  #filters-desktop {
    display: flex;
    flex-direction: column;
    margin: 0% auto 5% auto;
    width: 50%;
  }

  #filters-desktop p {
    text-align: center;
    border-bottom: .1px solid lightgrey;
    padding-bottom: 10px;

  }
  #filters-desktop div {
    display: flex;
justify-content: space-between;
  }

  #filters-desktop div button {
background-color: transparent;
width: 46%;
padding: 0px;
display: flex;
border: 0px;
padding-bottom: 10px;
border-bottom: .1px solid lightgrey;
  }

    #filters-desktop div button i {
      padding-right: 24px;
    }


  hr {
    width: 80%;
  }
  #find-out figure img {
    height: 500px;
    max-width: 100%;
  }
  #find-out figure figcaption {
    position: absolute;
    left: 56px;
    top: 155px;
    z-index: 99;
    color: white;
    font-size: 22px;
  }
  #find-out figure figcaption a {
    background-color: white;
    color: black;
  }
  #find-out figure figcaption a:hover {
    background-color: lightgrey;
  }

  #results-request {
  padding: 0% 10%;
  }

  footer #info ul {
    display: flex;
    justify-content: space-around;
    padding: 0% 8%;
  }
  footer #info ul hr {
    display: none;
  }
  footer #info ul div {
    display: flex;
    flex-direction: column;
    width: 85%;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    height: 80px;
  }
  footer #info ul div p {
    margin: 0px;
    color: #555;
    font-weight: lighter;
    font-size: 13px;
  }
  footer #info ul div a {
    font-size: 9px;
    color: #767676;
  }
  footer #info ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer #footer-classic ul {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px;
    margin: 0px;
    align-items: center;
  }
  footer #footer-classic ul li {
    height: 35px;
    display: flex;
    align-items: center;
    margin: 0px;
  }
  footer #footer-classic ul hr {
    display: none;
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}


/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}


/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}


/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr, img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
